# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

FRONTEND_URL=http://localhost:5173
DATABASE_URL="file:./dev.db"
JWT_SECRET_KEY=b583be587f6a534a2d5e6292b060dabb8508e2e582b8d7a5e4b404a1e999855dcd64f1d6f3d3d078da5483bc8323d1d615ffc367b189d8b59543d1d83622b37f7d55804aee79d51e794f86b459859e1683248d04cc7e4c342aa70c52021f50d538d9f609
PORT=8000
NODE_ENV="development"
